{% extends "base.html" %} {% block mainContent %}
<div
  class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4"
>
  <!-- Article 1: Markdown Extended Features -->
  <div
    class="card-base flex flex-col-reverse md:flex-col w-full rounded-[var(--radius-large)] overflow-hidden relative onload-animation"
    style="animation-delay: calc(var(--content-delay) + 0ms); --coverWidth: 28%"
  >
    <div
      class="pl-6 md:pl-9 pr-6 md:pr-2 pt-6 md:pt-7 pb-6 relative w-full md:w-[calc(100%_-_52px_-_12px)]"
      style="--coverWidth: 28%"
    >
      <a
        href="/blog/archives/markdown-extended"
        class="transition group w-full block font-bold mb-3 text-3xl text-90 hover:text-[var(--primary)] dark:hover:text-[var(--primary)] active:text-[var(--title-active)] dark:active:text-[var(--title-active)] before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)] before:absolute before:top-[35px] before:left-[18px] before:hidden md:before:block"
        style="--coverWidth: 28%"
      >
        Markdown Extended Features
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="inline text-[2rem] text-[var(--primary)] md:hidden translate-y-0.5 absolute"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-[var(--primary)] text-[2rem] transition hidden md:inline absolute translate-y-0.5 opacity-0 group-hover:opacity-100 -translate-x-1 group-hover:translate-x-0"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
      </a>

      <!-- metadata -->
      <div
        class="flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-x-4 gap-y-2 mb-4"
      >
        <!-- publish date -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              class="text-xl"
              data-icon="material-symbols:calendar-today-outline-rounded"
            >
              <symbol id="ai:material-symbols:calendar-today-outline-rounded" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V3q0-.425.288-.712T7 2t.713.288T8 3v1h8V3q0-.425.288-.712T17 2t.713.288T18 3v1h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5zM5 8h14V6H5zm0 0V6z"
                ></path>
              </symbol>
              <use href="#ai:material-symbols:calendar-today-outline-rounded"></use>
            </svg>
          </div>
          <span class="text-50 text-sm font-medium">2024-05-01</span>
        </div>

        <!-- categories -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              class="text-xl"
              data-icon="material-symbols:book-2-outline-rounded"
            >
              <symbol id="ai:material-symbols:book-2-outline-rounded" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M6 15.325q.35-.175.725-.25T7.5 15H8V4h-.5q-.625 0-1.062.438T6 5.5zM10 15h8V4h-8zm-4 .325V4zM7.5 22q-1.45 0-2.475-1.025T4 18.5v-13q0-1.45 1.025-2.475T7.5 2H18q.825 0 1.413.587T20 4v12.525q0 .2-.162.363t-.588.362q-.35.175-.55.5t-.2.75t.2.763t.55.487t.55.413t.2.562v.25q0 .425-.288.725T19 22zm0-2h9.325q-.15-.35-.237-.712T16.5 18.5q0-.4.075-.775t.25-.725H7.5q-.65 0-1.075.438T6 18.5q0 .65.425 1.075T7.5 20"
                ></path>
              </symbol>
              <use href="#ai:material-symbols:book-2-outline-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <a
              href="/blog/categories/Examples"
              aria-label="View all posts in the Examples category"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Examples
            </a>
          </div>
        </div>

        <!-- tags -->
        <div class="items-center hidden md:flex">
          <div class="meta-icon">
            <svg width="1em" height="1em" class="text-xl" data-icon="material-symbols:tag-rounded">
              <symbol id="ai:material-symbols:tag-rounded" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="m9 16l-.825 3.275q-.075.325-.325.525t-.6.2q-.475 0-.775-.375T6.3 18.8L7 16H4.275q-.5 0-.8-.387T3.3 14.75q.075-.35.35-.55t.625-.2H7.5l1-4H5.775q-.5 0-.8-.387T4.8 8.75q.075-.35.35-.55t.625-.2H9l.825-3.275Q9.9 4.4 10.15 4.2t.6-.2q.475 0 .775.375t.175.825L11 8h4l.825-3.275q.075-.325.325-.525t.6-.2q.475 0 .775.375t.175.825L17 8h2.725q.5 0 .8.387t.175.863q-.075.35-.35.55t-.625.2H16.5l-1 4h2.725q.5 0 .8.388t.175.862q-.075.35-.35.55t-.625.2H15l-.825 3.275q-.075.325-.325.525t-.6.2q-.475 0-.775-.375T12.3 18.8L13 16zm.5-2h4l1-4h-4z"
                ></path>
              </symbol>
              <use href="#ai:material-symbols:tag-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <div class="hidden mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Demo"
              aria-label="View all posts with the Demo tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Demo
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Example"
              aria-label="View all posts with the Example tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Example
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Markdown"
              aria-label="View all posts with the Markdown tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Markdown
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Fuwari"
              aria-label="View all posts with the Fuwari tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Fuwari
            </a>
          </div>
        </div>
      </div>

      <!-- description -->
      <div class="transition text-75 mb-3.5 pr-4" style="--coverWidth: 28%">
        Read more about Markdown features in Fuwari
      </div>

      <!-- word count and read time -->
      <div
        class="text-sm text-black/30 dark:text-white/30 flex gap-4 transition"
        style="--coverWidth: 28%"
      >
        <div style="--coverWidth: 28%">156 words</div>
        <div style="--coverWidth: 28%">|</div>
        <div style="--coverWidth: 28%">1 minutes</div>
      </div>
    </div>

    <a
      href="/posts/markdown-extended/"
      aria-label="Markdown Extended Features"
      class="!hidden md:!flex btn-regular w-[3.25rem] absolute right-3 top-3 bottom-3 rounded-xl bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95"
      style="--coverWidth: 28%"
    >
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="transition text-[var(--primary)] text-4xl mx-auto"
        data-icon="material-symbols:chevron-right-rounded"
      >
        <use href="#ai:material-symbols:chevron-right-rounded"></use>
      </svg>
    </a>
  </div>

  <div
    class="transition border-t-[1px] border-dashed mx-6 border-black/10 dark:border-white/[0.15] last:border-t-0 md:hidden"
    style="--coverWidth: 28%"
  ></div>

  <!-- Article 2: Expressive Code Example -->
  <div
    class="card-base flex flex-col-reverse md:flex-col w-full rounded-[var(--radius-large)] overflow-hidden relative onload-animation"
    style="animation-delay: calc(var(--content-delay) + 50ms); --coverWidth: 28%"
  >
    <div
      class="pl-6 md:pl-9 pr-6 md:pr-2 pt-6 md:pt-7 pb-6 relative w-full md:w-[calc(100%_-_52px_-_12px)]"
      style="--coverWidth: 28%"
    >
      <a
        href="/blog/archives/expressive-code"
        class="transition group w-full block font-bold mb-3 text-3xl text-90 hover:text-[var(--primary)] dark:hover:text-[var(--primary)] active:text-[var(--title-active)] dark:active:text-[var(--title-active)] before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)] before:absolute before:top-[35px] before:left-[18px] before:hidden md:before:block"
        style="--coverWidth: 28%"
      >
        Expressive Code Example
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="inline text-[2rem] text-[var(--primary)] md:hidden translate-y-0.5 absolute"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-[var(--primary)] text-[2rem] transition hidden md:inline absolute translate-y-0.5 opacity-0 group-hover:opacity-100 -translate-x-1 group-hover:translate-x-0"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
      </a>

      <!-- metadata -->
      <div
        class="flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-x-4 gap-y-2 mb-4"
      >
        <!-- publish date -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:calendar-today-outline-rounded"
            >
              <use href="#ai:material-symbols:calendar-today-outline-rounded"></use>
            </svg>
          </div>
          <span class="text-50 text-sm font-medium">2024-04-10</span>
        </div>

        <!-- categories -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:book-2-outline-rounded"
            >
              <use href="#ai:material-symbols:book-2-outline-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <a
              href="/blog/categories/Examples"
              aria-label="View all posts in the Examples category"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Examples
            </a>
          </div>
        </div>

        <!-- tags -->
        <div class="items-center hidden md:flex">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:tag-rounded"
            >
              <use href="#ai:material-symbols:tag-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <div class="hidden mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Markdown"
              aria-label="View all posts with the Markdown tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Markdown
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Blogging"
              aria-label="View all posts with the Blogging tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Blogging
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Demo"
              aria-label="View all posts with the Demo tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Demo
            </a>
          </div>
        </div>
      </div>

      <!-- description -->
      <div class="transition text-75 mb-3.5 pr-4" style="--coverWidth: 28%">
        How code blocks look in Markdown using Expressive Code.
      </div>

      <!-- word count and read time -->
      <div
        class="text-sm text-black/30 dark:text-white/30 flex gap-4 transition"
        style="--coverWidth: 28%"
      >
        <div style="--coverWidth: 28%">737 words</div>
        <div style="--coverWidth: 28%">|</div>
        <div style="--coverWidth: 28%">4 minutes</div>
      </div>
    </div>

    <a
      href="/posts/expressive-code/"
      aria-label="Expressive Code Example"
      class="!hidden md:!flex btn-regular w-[3.25rem] absolute right-3 top-3 bottom-3 rounded-xl bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95"
      style="--coverWidth: 28%"
    >
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="transition text-[var(--primary)] text-4xl mx-auto"
        data-icon="material-symbols:chevron-right-rounded"
      >
        <use href="#ai:material-symbols:chevron-right-rounded"></use>
      </svg>
    </a>
  </div>

  <div
    class="transition border-t-[1px] border-dashed mx-6 border-black/10 dark:border-white/[0.15] last:border-t-0 md:hidden"
    style="--coverWidth: 28%"
  ></div>

  <!-- Article 3: Simple Guides for Fuwari -->
  <div
    class="card-base flex flex-col-reverse md:flex-col w-full rounded-[var(--radius-large)] overflow-hidden relative onload-animation"
    style="animation-delay: calc(var(--content-delay) + 100ms); --coverWidth: 28%"
  >
    <div
      class="pl-6 md:pl-9 pr-6 md:pr-2 pt-6 md:pt-7 pb-6 relative w-full md:w-[calc(100%_-_var(--coverWidth)_-_12px)]"
      style="--coverWidth: 28%"
    >
      <a
        href="/blog/archives/guide"
        class="transition group w-full block font-bold mb-3 text-3xl text-90 hover:text-[var(--primary)] dark:hover:text-[var(--primary)] active:text-[var(--title-active)] dark:active:text-[var(--title-active)] before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)] before:absolute before:top-[35px] before:left-[18px] before:hidden md:before:block"
        style="--coverWidth: 28%"
      >
        Simple Guides for Fuwari
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="inline text-[2rem] text-[var(--primary)] md:hidden translate-y-0.5 absolute"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-[var(--primary)] text-[2rem] transition hidden md:inline absolute translate-y-0.5 opacity-0 group-hover:opacity-100 -translate-x-1 group-hover:translate-x-0"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
      </a>

      <!-- metadata -->
      <div
        class="flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-x-4 gap-y-2 mb-4"
      >
        <!-- publish date -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:calendar-today-outline-rounded"
            >
              <use href="#ai:material-symbols:calendar-today-outline-rounded"></use>
            </svg>
          </div>
          <span class="text-50 text-sm font-medium">2024-04-01</span>
        </div>

        <!-- categories -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:book-2-outline-rounded"
            >
              <use href="#ai:material-symbols:book-2-outline-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <a
              href="/blog/categories/Guides"
              aria-label="View all posts in the Guides category"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Guides
            </a>
          </div>
        </div>

        <!-- tags -->
        <div class="items-center hidden md:flex">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:tag-rounded"
            >
              <use href="#ai:material-symbols:tag-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <div class="hidden mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Fuwari"
              aria-label="View all posts with the Fuwari tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Fuwari
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Blogging"
              aria-label="View all posts with the Blogging tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Blogging
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Customization"
              aria-label="View all posts with the Customization tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Customization
            </a>
          </div>
        </div>
      </div>

      <!-- description -->
      <div class="transition text-75 mb-3.5 pr-4" style="--coverWidth: 28%">
        How to use this blog template.
      </div>

      <!-- word count and read time -->
      <div
        class="text-sm text-black/30 dark:text-white/30 flex gap-4 transition"
        style="--coverWidth: 28%"
      >
        <div style="--coverWidth: 28%">160 words</div>
        <div style="--coverWidth: 28%">|</div>
        <div style="--coverWidth: 28%">1 minutes</div>
      </div>
    </div>

    <a
      href="/blog/archives/guide"
      aria-label="Simple Guides for Fuwari"
      class="group max-h-[20vh] md:max-h-none mx-4 mt-4 -mb-2 md:mb-0 md:mx-0 md:mt-0 md:w-[var(--coverWidth)] relative md:absolute md:top-3 md:bottom-3 md:right-3 rounded-xl overflow-hidden active:scale-95"
      style="--coverWidth: 28%"
    >
      <div
        class="absolute pointer-events-none z-10 w-full h-full group-hover:bg-black/30 group-active:bg-black/50 transition"
        style="--coverWidth: 28%"
      ></div>
      <div
        class="absolute pointer-events-none z-20 w-full h-full flex items-center justify-center"
        style="--coverWidth: 28%"
      >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="transition opacity-0 group-hover:opacity-100 scale-50 group-hover:scale-100 text-white text-5xl"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
      </div>
      <div class="w-full h-full overflow-hidden relative">
        <div
          class="transition absolute inset-0 dark:bg-black/10 bg-opacity-50 pointer-events-none"
        ></div>
        <img
          src="/_astro/cover.CgGywNHJ_9MQNr.webp"
          alt="Cover Image of the Post"
          style="object-position: center"
          width="2048"
          height="1024"
          loading="lazy"
          decoding="async"
          class="w-full h-full object-cover"
        />
      </div>
    </a>
  </div>

  <div
    class="transition border-t-[1px] border-dashed mx-6 border-black/10 dark:border-white/[0.15] last:border-t-0 md:hidden"
    style="--coverWidth: 28%"
  ></div>

  <!-- Article 4: Markdown Example -->
  <div
    class="card-base flex flex-col-reverse md:flex-col w-full rounded-[var(--radius-large)] overflow-hidden relative onload-animation"
    style="animation-delay: calc(var(--content-delay) + 150ms); --coverWidth: 28%"
  >
    <div
      class="pl-6 md:pl-9 pr-6 md:pr-2 pt-6 md:pt-7 pb-6 relative w-full md:w-[calc(100%_-_52px_-_12px)]"
      style="--coverWidth: 28%"
    >
      <a
        href="/blog/archives/markdown"
        class="transition group w-full block font-bold mb-3 text-3xl text-90 hover:text-[var(--primary)] dark:hover:text-[var(--primary)] active:text-[var(--title-active)] dark:active:text-[var(--title-active)] before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)] before:absolute before:top-[35px] before:left-[18px] before:hidden md:before:block"
        style="--coverWidth: 28%"
      >
        Markdown Example
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="inline text-[2rem] text-[var(--primary)] md:hidden translate-y-0.5 absolute"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-[var(--primary)] text-[2rem] transition hidden md:inline absolute translate-y-0.5 opacity-0 group-hover:opacity-100 -translate-x-1 group-hover:translate-x-0"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
      </a>

      <!-- metadata -->
      <div
        class="flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-x-4 gap-y-2 mb-4"
      >
        <!-- publish date -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:calendar-today-outline-rounded"
            >
              <use href="#ai:material-symbols:calendar-today-outline-rounded"></use>
            </svg>
          </div>
          <span class="text-50 text-sm font-medium">2023-10-01</span>
        </div>

        <!-- categories -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:book-2-outline-rounded"
            >
              <use href="#ai:material-symbols:book-2-outline-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <a
              href="/blog/categories/Examples"
              aria-label="View all posts in the Examples category"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Examples
            </a>
          </div>
        </div>

        <!-- tags -->
        <div class="items-center hidden md:flex">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:tag-rounded"
            >
              <use href="#ai:material-symbols:tag-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <div class="hidden mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Markdown"
              aria-label="View all posts with the Markdown tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Markdown
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Blogging"
              aria-label="View all posts with the Blogging tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Blogging
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Demo"
              aria-label="View all posts with the Demo tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Demo
            </a>
          </div>
        </div>
      </div>

      <!-- description -->
      <div class="transition text-75 mb-3.5 pr-4" style="--coverWidth: 28%">
        A simple example of a Markdown blog post.
      </div>

      <!-- word count and read time -->
      <div
        class="text-sm text-black/30 dark:text-white/30 flex gap-4 transition"
        style="--coverWidth: 28%"
      >
        <div style="--coverWidth: 28%">444 words</div>
        <div style="--coverWidth: 28%">|</div>
        <div style="--coverWidth: 28%">2 minutes</div>
      </div>
    </div>

    <a
      href="/blog/archives/markdown"
      aria-label="Markdown Example"
      class="!hidden md:!flex btn-regular w-[3.25rem] absolute right-3 top-3 bottom-3 rounded-xl bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95"
      style="--coverWidth: 28%"
    >
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="transition text-[var(--primary)] text-4xl mx-auto"
        data-icon="material-symbols:chevron-right-rounded"
      >
        <use href="#ai:material-symbols:chevron-right-rounded"></use>
      </svg>
    </a>
  </div>

  <div
    class="transition border-t-[1px] border-dashed mx-6 border-black/10 dark:border-white/[0.15] last:border-t-0 md:hidden"
    style="--coverWidth: 28%"
  ></div>

  <!-- Article 5: Include Video in the Posts -->
  <div
    class="card-base flex flex-col-reverse md:flex-col w-full rounded-[var(--radius-large)] overflow-hidden relative onload-animation"
    style="animation-delay: calc(var(--content-delay) + 200ms); --coverWidth: 28%"
  >
    <div
      class="pl-6 md:pl-9 pr-6 md:pr-2 pt-6 md:pt-7 pb-6 relative w-full md:w-[calc(100%_-_52px_-_12px)]"
      style="--coverWidth: 28%"
    >
      <a
        href="/blog/archives/video"
        class="transition group w-full block font-bold mb-3 text-3xl text-90 hover:text-[var(--primary)] dark:hover:text-[var(--primary)] active:text-[var(--title-active)] dark:active:text-[var(--title-active)] before:w-1 before:h-5 before:rounded-md before:bg-[var(--primary)] before:absolute before:top-[35px] before:left-[18px] before:hidden md:before:block"
        style="--coverWidth: 28%"
      >
        Include Video in the Posts
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="inline text-[2rem] text-[var(--primary)] md:hidden translate-y-0.5 absolute"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-[var(--primary)] text-[2rem] transition hidden md:inline absolute translate-y-0.5 opacity-0 group-hover:opacity-100 -translate-x-1 group-hover:translate-x-0"
          data-icon="material-symbols:chevron-right-rounded"
        >
          <use href="#ai:material-symbols:chevron-right-rounded"></use>
        </svg>
      </a>

      <!-- metadata -->
      <div
        class="flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-x-4 gap-y-2 mb-4"
      >
        <!-- publish date -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:calendar-today-outline-rounded"
            >
              <use href="#ai:material-symbols:calendar-today-outline-rounded"></use>
            </svg>
          </div>
          <span class="text-50 text-sm font-medium">2023-08-01</span>
        </div>

        <!-- categories -->
        <div class="flex items-center">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:book-2-outline-rounded"
            >
              <use href="#ai:material-symbols:book-2-outline-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <a
              href="/blog/categories/Examples"
              aria-label="View all posts in the Examples category"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Examples
            </a>
          </div>
        </div>

        <!-- tags -->
        <div class="items-center hidden md:flex">
          <div class="meta-icon">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="text-xl"
              data-icon="material-symbols:tag-rounded"
            >
              <use href="#ai:material-symbols:tag-rounded"></use>
            </svg>
          </div>
          <div class="flex flex-row flex-nowrap items-center">
            <div class="hidden mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Example"
              aria-label="View all posts with the Example tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Example
            </a>
            <div class="mx-1.5 text-[var(--meta-divider)] text-sm">/</div>
            <a
              href="/blog/tags/Video"
              aria-label="View all posts with the Video tag"
              class="link-lg transition text-50 text-sm font-medium hover:text-[var(--primary)] dark:hover:text-[var(--primary)] whitespace-nowrap"
            >
              Video
            </a>
          </div>
        </div>
      </div>

      <!-- description -->
      <div class="transition text-75 mb-3.5 pr-4" style="--coverWidth: 28%">
        This post demonstrates how to include embedded video in a blog post.
      </div>

      <!-- word count and read time -->
      <div
        class="text-sm text-black/30 dark:text-white/30 flex gap-4 transition"
        style="--coverWidth: 28%"
      >
        <div style="--coverWidth: 28%">61 words</div>
        <div style="--coverWidth: 28%">|</div>
        <div style="--coverWidth: 28%">1 minutes</div>
      </div>
    </div>

    <a
      href="/blog/archives/video"
      aria-label="Include Video in the Posts"
      class="!hidden md:!flex btn-regular w-[3.25rem] absolute right-3 top-3 bottom-3 rounded-xl bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95"
      style="--coverWidth: 28%"
    >
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        class="transition text-[var(--primary)] text-4xl mx-auto"
        data-icon="material-symbols:chevron-right-rounded"
      >
        <use href="#ai:material-symbols:chevron-right-rounded"></use>
      </svg>
    </a>
  </div>

  <div
    class="transition border-t-[1px] border-dashed mx-6 border-black/10 dark:border-white/[0.15] last:border-t-0 md:hidden"
    style="--coverWidth: 28%"
  ></div>
</div>

<!-- Pagination -->
<div
  class="mx-auto onload-animation flex flex-row gap-3 justify-center"
  style="animation-delay: calc(var(--content-delay) + 250ms)"
>
  <a href="" class="btn-card overflow-hidden rounded-lg text-[var(--primary)] w-11 h-11 disabled">
    <svg
      width="1em"
      height="1em"
      class="text-[1.75rem]"
      data-icon="material-symbols:chevron-left-rounded"
    >
      <symbol id="ai:material-symbols:chevron-left-rounded" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="m10.8 12l3.9 3.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-4.6-4.6q-.15-.15-.212-.325T8.425 12t.063-.375t.212-.325l4.6-4.6q.275-.275.7-.275t.7.275t.275.7t-.275.7z"
        ></path>
      </symbol>
      <use href="#ai:material-symbols:chevron-left-rounded"></use>
    </svg>
  </a>
  <div
    class="bg-[var(--card-bg)] flex flex-row rounded-lg items-center text-neutral-700 dark:text-neutral-300 font-bold"
  >
    <div
      class="h-11 w-11 rounded-lg bg-[var(--primary)] flex items-center justify-center font-bold text-white dark:text-black/70"
    >
      1
    </div>
  </div>
  <a href="" class="btn-card overflow-hidden rounded-lg text-[var(--primary)] w-11 h-11 disabled">
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 24 24"
      class="text-[1.75rem]"
      data-icon="material-symbols:chevron-right-rounded"
    >
      <use href="#ai:material-symbols:chevron-right-rounded"></use>
    </svg>
  </a>
</div>
{% endblock %}
