

          <div class="pb-4 card-base onload-animation">
            <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 relative ml-8 mt-4 mb-2 before:w-1 before:h-4 before:rounded-md before:bg-[var(--primary)] before:absolute before:left-[-16px] before:top-[5.5px]">
              Tags
            </div>
            <div id="tags" class="collapse-wrapper px-4 overflow-hidden">
              <div class="flex gap-2 flex-wrap">
                <a href="/blog/tags/Blogging" aria-label="View all posts with the Blogging tag" class="btn-regular h-8 text-sm px-3 rounded-lg">Blogging</a>
                <a href="/blog/tags/Customization" aria-label="View all posts with the Customization tag" class="btn-regular h-8 text-sm px-3 rounded-lg">Customization</a>
                <a href="/blog/tags/Demo" aria-label="View all posts with the Demo tag" class="btn-regular h-8 text-sm px-3 rounded-lg">Demo</a>
                <a href="/blog/tags/Example" aria-label="View all posts with the Example tag" class="btn-regular h-8 text-sm px-3 rounded-lg">Example</a>
                <a href="/blog/tags/Fuwari" aria-label="View all posts with the Fuwari tag" class="btn-regular h-8 text-sm px-3 rounded-lg">Fuwari</a>
                <a href="/blog/tags/Markdown" aria-label="View all posts with the Markdown tag" class="btn-regular h-8 text-sm px-3 rounded-lg">Markdown</a>
                <a href="/blog/tags/Video" aria-label="View all posts with the Video tag" class="btn-regular h-8 text-sm px-3 rounded-lg">Video</a>
              </div>
            </div>
          </div>
