/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';

/* Global PrimeNG size configuration */
:root {
  --p-component-size: small;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
}
